name: lw-servers

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup PHP with PECL extension
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: intl iconv ctype gd sodium zip
    - name: Install dependencies
      working-directory: backend/
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --no-dev
    - name: Unit tests
      working-directory: backend/
      run: ./bin/phpunit 
      
